.sidebar {
  margin: 0;
  padding: 0;
  &__item {
    &--active {
      background-color: rgba(255, 255, 255, 0.2);
    }
    list-style: none;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    a {
      padding: 1.5rem 1rem;
      color: white;
      display: flex;
      justify-content: space-between;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      @media(max-width: 768px) {
        background: none;
      }
    }
  }
}