@import  './variables.scss' ;

.select {
  display: flex;
  align-items: center;
  &__badge {
    display: flex;
  }
  &__button {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  &__title {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: right;
  }
  &__input {
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    text-align: right;
    color: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(12px);
    background-color: $bg-glass;
    border-radius: 5px;
    box-shadow: $box-shadow-glass;;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:focus {
      outline: none;
    }
    option {
      color: black;
    }
  }
}